html, body {
  margin: 0;
  padding: 0;
}

#wrap {
  min-height: 100vh;
  position: relative;
  width: 100%; 
  background-color: #f2f2f2;
}

.center {
  text-align: center;
}

section {
  padding-bottom: 105px;
}

footer {
  width: 100%;
  height: 90px;
  bottom: 0px;
  position: absolute;
  border-top: 1px solid #c4c4c4;
  padding-top: 15px;
  color: #808080;
  font-size: 12px;
}

footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: #0a0a0a; font-size: 13px;
}

footer a:visited {
  color: #808080;
}

footer p {
  margin-top: 0; margin-bottom: 0;   
}

footer p span {
  display: inline-block;
  margin-left: 20px;
}html {
  height: 100%;
  width: 100%;
}
